<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title></title>
    <style>
        body { width: 500px; }
        .container { padding: 15px; }
        .red { color: rgb(221, 0, 0);  }
        .green { color: green; }
        .error { background: #ebccd1; color: #a94442; padding: 10px; border-radius: 5px; font-size: 12px; }
        dd { word-wrap: break-word;}
        #links { font-size: 12px; }
    </style>

</head>

<body ng-app="links">

    <div class="container" data-ng-controller="MainCtrl">
        <div class="form-group">
            <label for="linkSource">Link na server</label>
            <textarea class="form-control" data-ng-model="link.source" autofocus="autofocus"></textarea>
            <div data-ng-if="!link.isOk && link.source">
                <div class="error">
                    <strong>Link obsahuje nepovolene znaky.</strong><br />
                    Povolene su:
                    <ol>
                        <li>Pismena bez diakritiky</li>
                        <li>Cislice</li>
                        <li>Znaky: pomlcka, podciarkovnik(podjebovnik), medzera</li>
                    </ol>
                </div>
                <br />
            </div>

        </div>

        <dl id="links" data-ng-if="link.source">
            <dt id="macLabel">Mac OS</dt>
            <dd id="mac" data-ng-click="select('mac')">{{ link.mac }}</dd>
            <dt id="winLabel">Windows</dt>
            <dd id="win" data-ng-click="select('win')">{{ link.win }}</dd>
        </dl>

        <button data-ng-if="link.source" data-ng-click="select('links')" class="btn btn-xs btn-success">Označ linky</button>

    </div>

    <script src="js/min/jquery-2.1.3.min.js"></script>
    <script src="js/min/angular.min.js"></script>
    <script src="js/min/script.min.js"></script>

</body>

</html>